<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--  lazy-init懒加载默认值为 false -->
    <bean id="userService" class="service.impl.UserServiceImpl">
        <property name="beanName">
            <value>QQSmiling123</value>
        </property>
    </bean>
</beans>